body {
    box-sizing: border-box;
  background: #f8f8f8  ;
}

.container {

padding: 16px;
    background-color: #ffffff;
}

.label {

}
.form {

    max-width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    font-family: "sans-serif";

}

.input {
    display: block;


}
input[type=text]{
    width: 320px;

    padding: 10px 15px;
    margin: 5px auto;


    border: 1px solid #CCC;

}

.registerbtn {
    background-color: #1cbc11;
    border: #ffffff;
    font-size: 20px;
    font-family: Calibri;
    color: #ffffff;
    width: 350px;
    padding: 10px;

}
.registerbtn:hover {
    background-color: #14a20a;
}

. {
    background-color: #ffffff;
}


.text {

}
